<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.Site.Title}}</title>
	{{ $fontStyle := resources.Get "css/alegreya.css" | resources.Minify }}
	{{ $secureFontStyle := $fontStyle | resources.Fingerprint "sha256" }}
	<link rel="stylesheet" href="{{ $fontStyle.Permalink }}" integrity="{{ $secureFontStyle.Data.Integrity }}">
	{{ $style := resources.Get "css/main.css" | resources.Minify }}
	{{ $secureStyle := $style | resources.Fingerprint "sha256" }}
	<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $secureStyle.Data.Integrity }}">
	<link rel="icon" type="image/png" href="/img/favicon.png">
</head>
