<section class="services">
	<div class="services__container">
		<h2 class="services__title">Services</h2>

		<div class="services__content">
			<div class="service">
				<h3 class="service__title">Build Websites</h3>
				<p class="service__blurb">
					Lorem ipsum dolor sit amet, consecutur adipscing elit, sed do
					eiusmod tempor indicidunt ut labore, et dolore magna aliqua. Ut
					enim ad minim veniam, quis nostrud exercitation ullamo laboris
					nisi ut aliqujip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat
					nulla pariatur. Excepteur sint occaecat cupidatat non proident,
					sunt in culpa qui foficia deserunt mollit anim id est laborum.
				</p>
			</div>
			<div class="service">
				<h3 class="service__title">Host Stuff</h3>
				<p class="service__blurb">
					Lorem ipsum dolor sit amet, consecutur adipscing elit, sed do
					eiusmod tempor indicidunt ut labore, et dolore magna aliqua. Ut
					enim ad minim veniam, quis nostrud exercitation ullamo laboris
					nisi ut aliqujip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat
					nulla pariatur. Excepteur sint occaecat cupidatat non proident,
					sunt in culpa qui foficia deserunt mollit anim id est laborum.
				</p>
			</div>
			<div class="service service_no-devider">
				<h3 class="service__title">Develop Tools</h3>
				<p class="service__blurb">
					Lorem ipsum dolor sit amet, consecutur adipscing elit, sed do
					eiusmod tempor indicidunt ut labore, et dolore magna aliqua. Ut
					enim ad minim veniam, quis nostrud exercitation ullamo laboris
					nisi ut aliqujip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat
					nulla pariatur. Excepteur sint occaecat cupidatat non proident,
					sunt in culpa qui foficia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>
</section>

