<section class="values">
	<div class="values__container">
		<h2 class="values__title">Values</h2>

		<div class="values__grid">
			<div class="values__content">
	{{ range $value_title, $value_description := $.Params.values }}
	<h3 id="{{urlize $value_title}}" class="value__title">
					<span class="value__title--highlight"
					 >{{$value_title}}</span
					>
				</h3>

				<p class="value__details">
					{{$value_description}}
				</p>
	{{ end }}
			</div>
			<div class="values__menu">
				<div class="values__menu__slider">
	{{ range $value_title, $value_description := $.Params.values }}
	<a class="value__link" href="#{{ urlize $value_title }}"
						><span class="value__link--highlight"
						 >{{$value_title}}</span
						></a
					>
	{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
