<!DOCTYPE html>
<html lang="{{ if .Language.Lang}}{{ .Language.Lang }}{{ else }}{{ .Site.LanguageCode }}{{ end }}">
    {{- partial "head.html" . -}}
    <body>
				
        {{- partial "contactButton.html" . -}}
        <main role="main">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
				{{ $script := resources.Get "js/script.js" | resources.Minify }}
				{{ $secureScript := $script | resources.Fingerprint "sha256" }}
				<script src="{{ $script.Permalink }}" integrity="{{ $secureScript.Data.Integrity }}"></script>
    </body>
</html>
